<!DOCTYPE html><!-- COMPLETATA E RESPONSIVE-->
<html lang="it">

<head>
    <title>Impostazione Account</title>
    <%- include('partials/head'); %>
    
    <link href="../css/account_style.css" rel="stylesheet">
    <link href="../css/footer_style.css" rel="stylesheet">
</head>

<body>
    <header class="account-header">
        <a href="/">
            <img id="logo" class="middle-logo" src="../img/logo.png" alt="Logo">
        </a>
        <div>
            <a class="signup-login">Gestione Account</a>
        </div>
    </header>

    <div class="account-body">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
					<a class="back" href="/"><i class="material-icons">arrow_back</i>Ritorna a FlopFlix</a>
				</div>
                <div class="col-md-8">
                    <%- include('partials/messages'); %>

                    <form action="/account" method="POST">
                        <h1>Sicurezza</h1>
                        <h2 class="sotto-titolo">Dettagli account</h2>

                        <div class="account-box">
                            <div class="form-row">
                                <label class="sotto-titolo">Email:</label>
                                <span><%= user.email %></span>
                                <a href="#" id="editMail">Modifica Email</a>
                            </div>
                            <div id="editEmailSection">
                                <div class="form-group">
                                    <div class="input-wrapper">
                                        <label class="confirm-text"for="email">Nuova Email:</label>
                                        <input id="email" class="col-md-5 form-control" type="email" name="email" placeholder="Inserisci nuova email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-wrapper">
                                        <label class="confirm-text" for="confirmEmail">Conferma Nuova Email:</label>
                                        <input id="confirmEmail" class="col-md-5 form-control" type="email" name="confermaEmail" placeholder="Conferma nuova email">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="input-wrapper">
                                    <label class="sotto-titolo telefono">Telefono:</label>
                                    <input type="text" id="telefono" class="form-control" name="telefono" placeholder="Inserisci il numero di telefono*" value="<%= user.telefono %>" pattern="[0-9]{6,16}" title="Il numero di telefono deve contenere solo numeri ed essere lungo minimo 6 e massimo 16">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="input-wrapper">
                                    <label class="sotto-titolo">Password: ********</label>
                                    <a href="#" id="editPassword">Modifica Password</a>
                                </div>
                            </div>
                            
                                <div id="editPasswordSection">
                                    <div class="form-group">
                                        <div class="input-wrapper">
                                            <label for="currentPassword">Password Attuale:</label>
                                            <input id="currentPassword" class="form-control" type="password" name="currentPassword" placeholder="Inserisci password attuale" title="La password deve essere di almeno 8 caratteri fino a massimo 16">
                                            <i class="material-icons show-password" onclick="togglePassword('currentPassword')">visibility_off</i>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-wrapper">
                                            <label for="newPassword">Nuova Password:</label>
                                            <input id="newPassword" class="form-control" type="password" name="newPassword" pattern=".{8,16}" placeholder="Inserisci nuova password" title="La password deve essere di almeno 8 caratteri fino a massimo 16">
                                            <i class="material-icons show-password" onclick="togglePassword('newPassword')">visibility_off</i>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-wrapper">
                                            <label for="confirmPassword">Conferma Password:</label>
                                            <input id="confirmPassword" class="form-control" type="password" name="confirmPassword" pattern=".{8,16}" placeholder="Conferma nuova password" title="La password deve essere di almeno 8 caratteri fino a massimo 16">
                                            <i class="material-icons show-password" onclick="togglePassword('confirmPassword')">visibility_off</i>
                                        </div>
                                    </div>
                                </div>
                            
                        </div>
						<br>
                        <h1>Informazioni</h1>
                        <h2 class="sotto-titolo">Dati account</h2>
                        <div class="account-box">
                            <div class="form-row">
                                <div class="input-wrapper">
                                    <label class="sotto-titolo" for="nome">Nome:</label>
                                    <input type="text" id="nome" class="form-control" name="nome" placeholder="Inserisci il nome*" value="<%= user.nome %>" pattern="[A-Za-z]{2,32}">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="input-wrapper">
                                    <label class="sotto-titolo" for="cognome">Cognome:</label>
                                    <input type="text" id="cognome" class="form-control" name="cognome" placeholder="Inserisci il cognome*" value="<%= user.cognome %>" pattern="[A-Za-z]{2,32}">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="input-wrapper">
                                    <label class="sotto-titolo" for="ddn">Data di nascita:</label>
                                    <input type="date" id="ddn" class="form-control" name="ddn" value="<%= user.ddn %>" min="1914-01-01">
                                </div>
                            </div>
                        </div>

						<br>
                        <button type="submit" class="btn btn-save col-md-12">Aggiorna Dati</button>
                    </form>
					<br>
                    <form method="POST" action="/delete-account" onsubmit="return confirm('Sei sicuro di voler cancellare il tuo account? Questa operazione è irreversibile!')">
                        <button type="submit" class="btn btn-delete col-md-12">Elimina Account</button>
                    </form>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>

    <footer>
    <%- include('partials/footer', type = 2); %>
    </footer>

    <script src="/js/account.js"></script>
</body>
</html>
