<!DOCTYPE html>
<html lang="it">
<head>
    <title>FlopFlix</title>
    <%- include('partials/head'); %>

    <link href="/css/index_style.css" rel="stylesheet">
    <link href="/css/header_style.css" rel="stylesheet">
    <link href="/css/footer_style.css" rel="stylesheet">

    <script src="/js/index.js"></script>
    <script src="/js/header.js"></script>

</head>
<body id="mainBody">

    <header>
        <%- include('partials/header'); %>
    </header>

    <div class="container-fluid p-0" id="mainFilm" alt="Film Principale" class="img-fluid"></div>
    
    <div id="videoContainer" class="container-fluid row">
        <% for (let category in categoryFilms) { %>
            <% if (categoryFilms[category].length > 0) { %>
                <div id="<%= category %>" class="film-container">
                    <div class="row-title">
                        <p><%= category %></p>
                    </div>
                    <%- include('partials/film-card', result=categoryFilms[category]); %>
                    <div class="arrow leftArrow" onclick="scrollRow(this, 'left')">
                        <i class="material-icons icona">arrow_back</i>
                    </div>
                    <div class="arrow rightArrow" onclick="scrollRow(this, 'right')">
                        <i class="material-icons icona">arrow_forward</i>
                    </div>
                </div>
            <% } %>
        <% } %>
    </div>

    <%- include('partials/modal-player'); %>

    <footer class="text-white n-footer">
        <%- include('partials/footer', type = 1); %>
    </footer>
</body>
</html>
