<!DOCTYPE html><!-- COMPLETATA E RESPONSIVE-->
<html lang="it">
<head>
    <title>Risultati della Ricerca</title>
    <%- include('partials/head'); %>

    <link href="/css/page_style.css" rel="stylesheet">
    <link href="/css/header_style.css" rel="stylesheet">
    <link href="/css/footer_style.css" rel="stylesheet">

    <script src="/js/header.js"></script>
</head>

<body id="mainBody">
    <header class="page-header">
        <%- include('partials/header'); %>
    </header>

    <%- include('partials/modal-player'); %>

    <div class="page-container">
        
        <h1 class="text-white page-title col-md-12">Risultati della Ricerca per "<%= query %>"</h1>
        <br>
        
        <div class="filmsContainer">
            <% if (exactResults.length > 0) { %>
                <%- include('partials/film-card', result=exactResults); %>
            <% } else { %>
                <p class="text-center text-white col-md-4 offset-md-4">Nessun risultato trovato per "<%= query %>".</p>
            <% } %>
        </div>

        <% if (broadResults.length > 0) { %>
            <div class="filmsContainer">
                <hr>
                <h1 class="text-white page-title col-md-12">Cercavi Questo?</h1><br>              
                <%- include('partials/film-card', result=broadResults); %>
            </div>
        <% } %>

    </div>

    <footer class="text-white n-footer">
        <%- include('partials/footer', type = 1); %>
    </footer>
    
</body>
</html>