<div id="editFilmModal" class="modal-admin position-fixed translate-middle">
    <div class="modal-admin-content">
        <span class="close" onclick="closeModal('editFilmModal')">&times;</span>
        <h2>Modifica Film</h2>
        
        <form id="editFilmForm" class="col-md-12" method="POST" action="">
            <div class="row">
                <label for="editTitolo">Titolo del film:</label>
                <input type="text" id="editTitolo" name="titolo" pattern=".{2,64}" title="Il titolo deve essere da 2 a 64 caratteri." required>
            </div>

            <div class="row">
                <div class="col-md-6 p-1">
                    <label for="editAnno">Anno di uscita:</label>
                    <input type="number" id="editAnno" name="anno_uscita" min="1900" max="<%= new Date().getFullYear() %>" pattern="\d{4}" title="L'anno di uscita deve essere compreso tra 1890 e l'anno attuale." required>
                </div>
                <div class="col-md-6 p-1">
                    <label for="editDurata">Durata (minuti):</label>
                    <input type="number" id="editDurata" name="durata" min="5" max="600" pattern="\d{1,3}" title="La durata deve essere un numero compreso tra 5 e 600." required>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 p-0">
                    <label for="editCategoria">Categoria:</label>
                    <select id="editCategoria" name="categoria"  title="Seleziona un valore" required>
                        <option value="" disabled selected>Seleziona una categoria</option>
                        <% categories.forEach(function(category) { %>
                            <option value="<%= category.nome_categoria %>"><%= category.nome_categoria %></option>
                        <% }); %>
                    </select>
                </div>
                <div class="col-md-6 p-0">
                    <label for="vietatoMinori" >Vietato ai minori:</label>
                    <select id="editVietatoMinori" name="vietatoMinori" title="Seleziona un valore" required>
                        <option value="" disabled>Seleziona il limite</option>
                        <option value="0" <%= film.vietatoMinori == 0 ? 'selected' : '' %>>No</option>
                        <option value="1" <%= film.vietatoMinori == 1 ? 'selected' : '' %>>Sì</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <label for="editRegista">Regista:</label>
                <input type="text" id="editRegista" name="regista" pattern=".{2,64}" title="Il regista deve essere da 2 a 64 caratteri." required>
            </div>

            <div class="row">
                <label for="editTrailer">URL Film (YouTube):</label>
                <input type="text" id="editTrailer" name="trailer" pattern="^(https?:\/\/)?(www\.)?(youtube\.com|youtu\.be)\/.+$" title="L'URL deve essere un link valido di YouTube.">
            </div>

            <div class="row">
                <label for="editDescrizione">Descrizione:</label>
                <textarea id="editDescrizione" name="descrizione" rows="3" minlength="2" maxlength="2000" pattern=".{2,2000}" title="La descrizione deve essere compresa tra 2 e 2000 caratteri." required></textarea>
            </div>

            <button type="submit" class="admin-btn">Salva Modifiche</button>
        </form>
    </div>
</div>
